 
  <div class="text-center" >
    <div class="container-fluid pt-4">
     
      <section class="mb-4">
        
       
          <a href="#!"><i class="text-black bi bi-twitter-x px-2"></i></a>
          <a href="#!"><i class="text-black bi bi-facebook px-2"></i></a>
          <a href="#!"><i class="text-black bi bi-linkedin px-2"></i></a>
          <a href="#!"><i class="text-black bi bi-instagram px-2"></i></a>
       
  
       
      </section>
     
    </div>
  
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="https://socratech.es/">Socratech.es</a>
    </div>
   
  </div>
 